* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    padding: 20px;
}

.container {
    background-color: rgba(128, 128, 128, 0.635);
    
    padding: 20px;
    
    text-align: justify;
    
    display: flex;
    flex-direction: column;
}

.media-text , .text-media {
    
    display: flex;
    justify-content: space-between;
}

.media-text {
    flex-flow: row wrap-reverse;
}

.text-media {
    flex-flow: row wrap;

}

.text {
    flex: 1 1 500px;
    
}

.media {
    flex: 1 0 400px;
    
}

#Photo {
    
    height: 310px;
    display: block;
    margin: auto;
   
}

iframe {
    display: block;
    margin: auto;
    width: 90%;
}












@media screen and (max-width: 660px) {
    iframe {
        width: 86.5vw;
    }
}

